---

---
<span
  class="pr-4 font-bold rounded-full bg-primary-light text-secondary-light px-2 py-px text-base uppercase leading-5 shadow-sm shadow-base-200/20 dark:bg-primary-dark dark:text-secondary-dark dark:shadow-none"
>
  <slot />
</span>
