<div id="holidaycheck-widget-hotel-1-63731-de_DE-s-b-1-1---0">
<div id="holidaycheck_widget_placeholder-63731" style="width:120px;padding:5px;background:#0058a2;">
    <a href="https://www.holidaycheck.de/hi/hotel-zum-stern/29d2c9a1-83af-35d5-a0d0-a01c0f373f59">
        <img alt="Hotels mit Hotelbewertungen bei HolidayCheck" src="https://www.holidaycheck.de/widgets/logo_xlarge.png"></a></div>
    </div>
    <script is:inline src="https://www.holidaycheck.de/widgets?step=code&type=code&options=hotel-1-63731-de_DE-s-b-1-1---0"
type="text/javascript"></script>

<div id='iiqcheck_widget_1989'></div>
<script>
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.async = true;
  script.src = 'https://app.iiq-check.de/hotels/1989/widget_configurations/w.js?r=' + encodeURIComponent(document.URL);
  (function () {
   (document.getElementsByTagName('head')[0] || document.body).appendChild(script);
  })();
</script>